[color]
	ui = true

[core]
	editor = vim
	excludesfile = /home/pgraham/.gitignore-global

[alias]
	d  = diff
	ds = diff --staged
	st = status

# Index manipulation
	ap = add --patch
	un = reset HEAD
	unp = reset --patch HEAD
	co = checkout --

# Commit shortcuts
	ci = commit -m
	cia = commit -am
	ci-cs-fixes = commit -m '"[minor] CS Fixes"'
	cia-cs-fixes = commit -am '"[minor] CS Fixes"'
	ci-ws-fixes = commit -m '"[minor] whitespace fixes"'
	cia-ws-fixes = commit -am '"[minor] whitespace fixes"'

# History manipulation
	backout = reset --soft HEAD~

# Stash shortcuts
	sp = stash pop
	spop = stash pop
	ss = stash show -p
	sl = stash list
	sd = stash drop

# Log shortcuts
	log-stat = log --stat

[push]
	default = simple

[include]
	path = .gitconfig-user

[diff]
	wsErrorHighlight = all
