[color]
	ui = true

[core]
	editor = vim
	excludesfile = /home/pgraham/.gitignore-global

[alias]
	ap = add --patch
	ci = commit -m
	cia = commit -am
	d  = diff
	ds = diff --staged
	log-stat = log --stat
	st = status
	ci-cs-fixes = commit -m '"[minor] CS Fixes"'
	cia-cs-fixes = commit -am '"[minor] CS Fixes"'
	ci-ws-fixes = commit -m '"[minor] whitespace fixes"'
	cia-ws-fixes = commit -am '"[minor] whitespace fixes"'
	unst = reset HEAD

[push]
	default = simple

[include]
	path = .gitconfig-user
